<title>@ViewBag.Title</title>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    @RenderSection("featured", required: false)
</div>
@RenderBody()
@RenderSection("scripts", required: false)