<title>@ViewBag.Title</title>
@RenderSection("featured", required: false)
<section class="content-wrapper main-content clear-fix">
    @RenderBody()
</section>
@RenderSection("scripts", required: false)